/__pycache__
aquarium_02/__pycache__
biocalc/__pycache__
biocalc/migrations/__pycache__
biocalc/models/__pycache__
users/__pycache__
users/migrations/__pycache__
users/models/__pycache__
.env
env/
biocalc/views/__pycache__
